
body {
    font-family: 'Palatino', serif;
    color: #010006;
    background-color: #DFEAE4; 
    margin: 0px;
}
header {
    background-color: #3f5744; 
    color: white;
    text-align: center;
    padding: 10px 0;
}
/* nav {
    background-color: #3f5744; 
    color: white; 
    text-align: center;
    padding: 10px 0;
}

nav.deductive {
    background-color: #3f5744;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    padding: 10px 0;
    font-size: 16px;
} */
footer {
    position: fixed;
    padding: 10px 10px 10px 10px;
    bottom: 0;
    width: 100%;
    background-color: #657a69; 
    color: white;
    text-align: center;
    font-size: smaller;
    margin-top: 15%;
}
/* nav a {
    color: white;
    margin: 0 20px;
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease; 
    display: inline-block;
} */
nav a:hover {
    transform: scale(1.2); 
}
.question {
    margin: auto;
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
    line-height: 1.5;
}
.answer {
    display: none;
    margin: auto;
    padding-top: 1%;
    padding-left: 23%;
    padding-right: 25%;
    color: rgb(26, 7, 149);
    line-height: 1.5;
}
.argument {
    margin: auto;
    padding-left: 5%;
    line-height: 1.5;
}
.button {
    margin: auto;
    padding-left: 23%;
    padding-top: 2%;
}

/* body.deductive {
    font-family: 'Palatino', serif;
    color: #010006;
    background-color: #DFEAE4;
    margin: 0;
    padding-left: 200px; 
}
nav a {
    color: white;
    text-decoration: none;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
    display: block; 
    margin: 20px 0; 
    padding: 10px; 
} */
 
.normal {
    background-color: #3f5744; 
    color: white; 
    text-align: center;
    padding: 10px 0;
}

.normal a {
    color: white;
    margin: 0 20px;
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease; 
    display: inline-block;
}
